
body{
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden;
  max-width: 1440px;
  padding: 0;
  margin: 0;
}
.top-header{
  display: flex;
  background-color: rgb(7, 7, 50);
  color: #E5E5E5;
  padding: 0 60px;
  justify-content: space-between;
  font-size: 13px;
}
.top-header > div {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.main-header{
display: flex;
background-color: #F0F2F3;
justify-content: space-between;
align-items: center;
padding: 0 60px;
}
.logo img{
  height: 40px;
  width: 166px;
  padding: 22px 60px;
}
.search-button{
  position: relative;
  width: 413px;
  height: 44px;
}
.search-button input{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 12px 16px;
}
.search-button input::placeholder{
 color: #9A9CAA;
 font-size: 16px;
}
.search-button i{
  position: absolute;
  right: 16px;
  font-size: 22px;
  padding: 11px 0px;
}
.search-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.search-icons span{
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}
.bottom-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 14px 60px;
 font-size: 14px;
 
}
.left-side {
display: flex;
flex-direction: row;
height: 47px;
}
.categories{
color: #272343;
border: 1px solid #E1E3E5 ;
padding: 16px 24px;
border-radius: 6px;
 
}
.nav-links{
  flex-direction: row;
  gap: 32px;
  display: flex;
}
.nav-links li{
list-style: none;
}
.nav-links li:first-child{
  color: #007580;
}
.bottom-header div:last-child{
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact{
  color: #636270;
}
.hero-section{
  height: calc(100dvh - 204px);
  min-height: 600px;
  width: 100%;
  position: relative;

}
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 60px;
  align-items: center;
  color: black;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -2;
  overflow: hidden;
  border-radius: 0 0 48px 48px;
}

.slider.active {
  opacity: 1;
}

.slider h5 {
  font-size: 36px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 12%;
  line-height: 100%;
  color: #272343;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.slider p {
  font-weight: bold;
  font-size: 50px;
  line-height: 110%;
  color: #272343;
  text-transform: capitalize;
  text-align: left;
  width: 500px;
  margin: 0;
  padding: 0px;
  padding-bottom: 24px;
}
.circle{
  width: 590px;
  height: 590px;
  position: absolute;
  right: 189px ;
  top: -154px;
  border-radius: 9999px;
  z-index: -1;

}
.hero-img {
  position: absolute;
  z-index: -1;
  
}
.hero-img img{
  object-fit: contain;
  object-position: right top;
}
.dining {
  top: 280px;
right: 20px ;
}
.sofa {
  top: 280px;
right: 120px ;
}
.chair {
  top: 220px;
right: 120px ;
}
.imgdining img {
  object-fit: contain;
  width: 800px;
  height: 600px;

}
.imgsofa img {
  object-fit: contain;
  width: 700px;
  height: 600px;
}
.imgchair img {
  object-fit: contain;
  width: 357px;
  height: 486px;
}
.imgdining  {
  top: 120px;
  right: 10px ;
}
.imgsofa {
  top: 120px;
  right: 12px ;
}
.imgchair {
  top: 220px;
  right: 120px ;
}

.discount{
position:absolute;
height: 100px;
width: 100px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 999px;
}
.discount-container{
  position: relative;

}
.discount-number{
  color: #F05C52;
  line-height: 110%;
  font-size: 30px;
  font-weight: bold;
}
.discount-word{
  color: #272343;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 2%;
}
button{
    background-color: #029FAE;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    height: 52px;
    width: 171px;
    display: flex;
    outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 17px 24px;
  border-radius: 8px; 
  justify-content: space-between;
}
button span{
  width: 24px;
  height: 24px;
  right: 24px;
}
.feature-container{
  background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 25px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50px;
    width: 1000px;
    margin: auto;
    justify-content: space-between;

}
.feature-box{
display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.feature-box .icon{
  width: 30px;
  height: 30px;
  
}
.feature-info {
  color: #272343;
  line-height: 110%;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.info-below {
  color: #9A9CAA;
  line-height: 110%;
  font-size: 13px;
  margin: 0;

}
.company-logo{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 1000px;
    padding: 40px;
    
}
.featured-products{
  padding: 0 60px;

}
.featured-products h3{
  font-size: 30px;
  color: #272343;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 110%;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  width: 100%;

}

.product-chair img{ 
  height: 312px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px;
}

.bottom {
  height: 51px;
  width: 256px;
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-name{
  line-height: 130%;
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}
.product-price{
  color: #272343;
  line-height: 110%;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.cart-full{
  background-color: #029FAE;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cart-empty{
  background-color: #F0F2F3;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.topside-category{
 display: flex;
 justify-content: space-between;
 padding: 0 60px;

 
}
.topside-category h4{
  color: #272343;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  line-height: 110%;
 }

.arrow-class{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.arrow-1{
background-color: #007580;
border-radius: 999px;
color: white;
width: 44px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
}
.arrow-2{
  background-color: #F0F2F3;
  border-radius: 999px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  }

.category-section{
  display: grid;
  grid-template-columns: repeat(6,350px) ;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  gap: 24px;
}
.category-section::-webkit-scrollbar {
  display: none;
}
.category{
 width: 350px;
 height: 400px;
margin-left: 60px;
position: relative;
overflow: hidden;
}
.category-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-layer{
  background-color: #666666;
  color: white;
  background-image: linear-gradient(to right, #000000 , #666666BF);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
  
}
.product-name {
  font-size: 20px;
  line-height: 110%;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
.product-stock {
  font-size: 14px;
  line-height: 110%;
  font-weight: 200;
  margin: 0;
}
