
body{
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
}
header{
  padding: 0;
  margin: 0 auto;
}
.top-header{
  display: flex;
  background-color: rgb(7, 7, 50);
  color: #E5E5E5;
  padding: 0 60px;
  justify-content: space-between;
  font-size: 13px;
}
.top-header > div {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.main-header{
display: flex;
background-color: #F0F2F3;
justify-content: space-between;
align-items: center;
padding: 0 60px;
}
.logo img{
  height: 40px;
  width: 166px;
  padding: 22px 60px;
}
.search-button{
  position: relative;
  width: 413px;
  height: 44px;
}
.search-button input{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 12px 16px;
}
.search-button input::placeholder{
 color: #9A9CAA;
 font-size: 16px;
}
.search-button i{
  position: absolute;
  right: 16px;
  font-size: 22px;
  padding: 11px 0px;
}
.search-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.search-icons span{
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}
.bottom-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 14px 60px;
 font-size: 14px;
 
}
.left-side {
display: flex;
flex-direction: row;
height: 47px;
}
.categories{
color: #272343;
border: 1px solid #E1E3E5 ;
padding: 16px 24px;
border-radius: 6px;
 
}
.nav-links{
  flex-direction: row;
  gap: 32px;
  display: flex;
}
.nav-links li{
list-style: none;
}
.nav-links li:first-child{
  color: #007580;
}
.bottom-header div:last-child{
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact{
  color: #636270;
}
.hero-section{
  height: calc(100dvh - 204px);
  min-height: 600px;
  width: 100%;
  position: relative;

}
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 60px;
  align-items: center;
  color: black;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -2;
  overflow: hidden;
  border-radius: 0 0 48px 48px;
}

.slider.active {
  opacity: 1;
}

.slider h5 {
  font-size: 36px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 12%;
  line-height: 100%;
  color: #272343;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.slider p {
  font-weight: bold;
  font-size: 50px;
  line-height: 110%;
  color: #272343;
  text-transform: capitalize;
  text-align: left;
  width: 500px;
  margin: 0;
  padding: 0px;
  padding-bottom: 24px;
}
.circle{
  width: 590px;
  height: 590px;
  position: absolute;
  right: 189px ;
  top: -154px;
  border-radius: 9999px;
  z-index: -1;

}
.hero-img {
  position: absolute;
  z-index: -1;
  
}
.hero-img img{
  object-fit: contain;
  object-position: right top;
}
.dining {
  top: 280px;
right: 20px ;
}
.sofa {
  top: 280px;
right: 120px ;
}
.chair {
  top: 220px;
right: 120px ;
}
.imgdining img {
  object-fit: contain;
  width: 800px;
  height: 600px;

}
.imgsofa img {
  object-fit: contain;
  width: 700px;
  height: 600px;
}
.imgchair img {
  object-fit: contain;
  width: 357px;
  height: 486px;
}
.imgdining  {
  top: 120px;
  right: 10px ;
}
.imgsofa {
  top: 120px;
  right: 12px ;
}
.imgchair {
  top: 220px;
  right: 120px ;
}

.discount{
position:absolute;
height: 100px;
width: 100px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 999px;
}
.discount-container{
  position: relative;

}
.discount-number{
  color: #F05C52;
  line-height: 110%;
  font-size: 30px;
  font-weight: bold;
}
.discount-word{
  color: #272343;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 2%;
}
button{
    background-color: #029FAE;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    height: 52px;
    width: 171px;
    display: flex;
    outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 17px 24px;
  border-radius: 8px; 
  justify-content: space-between;
}
button span{
  width: 24px;
  height: 24px;
  right: 24px;
}
.feature-container{
  background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 25px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50px;
    width: 1000px;
    margin: auto;
    justify-content: space-between;

}
.feature-box{
display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.feature-box .icon{
  width: 30px;
  height: 30px;
  
}
.feature-info {
  color: #272343;
  line-height: 110%;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.info-below {
  color: #9A9CAA;
  line-height: 110%;
  font-size: 13px;
  margin: 0;

}
.company-logo{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 1000px;
    padding: 40px;
    
}
.featured-products{
  padding: 0 60px;

}
.featured-products h3{
  font-size: 30px;
  color: #272343;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 110%;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  width: 100%;
 

}
.product-chair{
  position: relative;
}
.product-chair img{ 
  height: 312px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px;
  
}

.hidden{
  display: none;
}
.new-product{
  background-color: #01AD5A;
  color: white;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 49px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.sale-product{
  background-color: #F5813F;
  color: white;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 49px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px
}
.bottom {
  height: 51px;
  width: 256px;
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-name{
  line-height: 130%;
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}
.product-price{
  color: #272343;
  line-height: 110%;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.cart-full{
  background-color: #029FAE;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.product-full{
  color: #007580;
}
  

.cart-empty{
  background-color: #F0F2F3;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.topside-category{
 display: flex;
 justify-content: space-between;
 padding: 0 60px;

 
}
.topside-category h4{
  color: #272343;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  line-height: 110%;
 }

.arrow-class{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.arrow-1{
background-color: #007580;
border-radius: 999px;
color: white;
width: 44px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
}
.arrow-2{
  background-color: #F0F2F3;
  border-radius: 999px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  }

.category-section{
  display: grid;
  grid-template-columns: repeat(5,350px) ;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  gap: 24px;
}
.category-section::-webkit-scrollbar {
  display: none;
}
.category{
 width: 350px;
 height: 400px;
margin-left: 60px;
position: relative;
overflow: hidden;
}
.category-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-layer{
  background-color: #666666;
  color: white;
  background-image: linear-gradient(to right, #000000 , #666666BF);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
  
}
.product-name {
  font-size: 20px;
  line-height: 110%;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
.product-stock {
  font-size: 14px;
  line-height: 110%;
  font-weight: 200;
  margin: 0;
}

.ourproduct-top{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
padding-bottom: 35px;
padding-top: 50px;

}

.ourproduct-top h5{
  color: #272343;
  line-height: 110%;
  font-size: 32px;
  margin: 0;

}
.tab-links{
  display: flex;
  gap: 10px;
  justify-content: center;
  
  
}
.tab-links li{
  list-style: none;
  color: #9A9CAA;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 105%;
}
.tab-links li:first-child{
  color: #272343;
  text-decoration: underline;
  text-decoration-color: #007580;
  text-underline-offset: 8px;

}
.tab-links li:nth-child(3) {
  color: #272343;
}


.our-products{
  padding: 0 60px;
  
}

.product-items{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  margin: 0;
  gap: 24px;
  
}
.product-chair img{ 
  height: 312px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px;
}

.testimonial-section{
  background-color: #F0F2F3;
  padding: 60px;
}
.testimonial-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding-bottom: 20px;
}

.testimonial-header h3{
  color: #272343;
  line-height: 110%;
  font-weight: 600;
  font-size: 30px;
}
.testimonial-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  gap: 24px;

}

.testimonial {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
  position: relative;
}

.testimonial p {
  font-size: 20px;
  line-height: 150%;
  color: #636270;
  margin-bottom: 20px;
}
.client-info {
  display: flex;
  justify-content: space-between;
}
.client-profile{
  display: flex;

}

.client-info img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.client-info h4 {
  margin: 0;
  font-size: 20px;
  color: #272343;
  line-height: 140%;
}
.client-info p {
  margin: 0;
  font-size: 16px;
  color: #9A9CAA;
}
.profile-left  {
  position: absolute;
  right: 6px;
  bottom: 2px;
  
}
.profile-left img {
  width: 140px;
  height: 140px;
  
}
.arrow-3{
  background-color: #007580;
  border-radius: 999px;
  color: white;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  }
  .arrow-4{
    background-color: white;
    border-radius: 999px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    }
    
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 60px;
    }
    .footer-info{
      width: 300px;
      gap: 24px;
    }
    .footer-info img{
      width: 150px;
    }
    .footer-info h4{
      color: #9A9CAA;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      
    }
    .social-media{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .footer-category{
      width: 105px;
      display: flex;
      flex-direction: column;
    }

  .footer-category h4{
    color: #9A9CAA;
    line-height: 110%;
    letter-spacing: 6%;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }
  .category-links{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-transform: capitalize;
    font-size: 16px;
  }
  .category-links li,ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #272343;
    line-height: 110%;
    
  }
  .category-links li:nth-child(4) {
    color: #007580;
    text-decoration: underline;
  }

  .footer-support{
    width: 156px;
      display: flex;
      flex-direction: column;
  }
  .footer-support h4{
    color: #9A9CAA;
    line-height: 110%;
    letter-spacing: 6%;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }
  .support-links{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-transform: capitalize;
    font-size: 16px;
  }
  .support-links li,ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #272343;
    line-height: 110%;
  }

  .footer-news{
    width: 400px;
  }
  .footer-news h4{
    color: #9A9CAA;
    line-height: 110%;
    letter-spacing: 6%;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }
  .news-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .news-buttons input{
    width: 285px;
    height: 46px;
    border-radius: 8px;
    outline: none;
    border: solid 1px #E1E3E5;
  }
  .news-buttons input::placeholder{
    color: #9A9CAA;
    font-size: 16px;
    line-height: 110%;
    padding: 15px 20px;
  }
  .news-buttons button{
    border-radius: 8px;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
  }
  .footer-news p{
    color: #9A9CAA;
    line-height: 150%;
    font-size: 15px;
    font-weight: 400;

  }

  /* Tablet View (768px and above) */
/* @media (max-width: 1024px) {
  .top-header, .main-header, .bottom-header, .feature-container, .company-logo, .featured-products, .topside-category {
    padding: 0 20px;
  }

  .logo img {
    width: 140px;
    padding: 20px 40px;
  }

  .search-button {
    width: 300px;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .testimonial-section {
    padding: 0 20px;
  }

  .social-media {
    justify-content: center;
    margin: 20px 0;
  }
} */

/* Mobile View (767px and below) */
/* @media (max-width: 767px) {
  .top-header, .main-header, .bottom-header, .feature-container, .company-logo, .featured-products, .topside-category {
    flex-direction: column;
    padding: 0 10px;
  }

  .top-header {
    text-align: center;
  }

  .main-header, .bottom-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo img {
    width: 120px;
    padding: 15px 0;
  }

  .search-button {
    width: 250px;
    margin-bottom: 20px;
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  .category-section {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .testimonial-section {
    padding: 0 10px;
  }

  .social-media {
    justify-content: center;
    margin: 20px 0;
  }

  .feature-container {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .testimonial-container {
    flex-direction: column;
  }

  .testimonial {
    margin-bottom: 20px;
  }
} */
